body{
    background-image: url("https://images.unsplash.com/photo-1463043254199-7a3efd782ad1?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(161, 217, 155);
    font-family:  "Arimo", sans-serif;
}
.container{
    background-image: url("https://images.unsplash.com/photo-1543157145-f78c636d023d?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #c7e9c0;
    max-width: 600px;
    margin: 30px auto;
    box-shadow: 0 25px 50px rgba(161, 217, 155,0.08);
    border-radius: 20px;
    padding: 40px;
}
.city-search{
    background-color: #ffffff;
    border:none;
    border-radius: 10px;
    width:80%;
    font-size: 15px;
    padding: 15px 20px;
}
.submit-button{
    background-color: #006d2c;
    border:none;
    border-radius: 10px;
    font-size: 15px;
    padding: 15px 20px;
    margin-left: 1px;
    color:white;
}
header{
    border-bottom: 1px solid #c7e9c0;
    padding: 0 0 30px ;
}
main{
    padding: 35px 0;
}
.weather-info{
    display:flex;
    justify-content: space-between;
}
.weather{
    margin:0;
    font-size: 40px;
    line-height: 45px;
}
.weather-details{
    font-size: 15px;
    line-height: 26px;
    font-weight: 600;
}
.weather-details strong{
    color: #ffa500;
}
.weather-container{
     display: flex;
}
.emoji{
    font-size: 88px;
    line-height: 88px;    
}
.temperature{
    font-size: 88px;
    line-height: 88px;
    font-weight: 500;
}
.unit{
    margin-top: 6px;
    font-size: 28px;
}
.weather-forecast {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.forecast-date{
    text-align: center;
    color: #006d2c;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
}
.forecast-icon{
    width: 88px;
    height: 88px;
    display: block;
    margin: 0 auto;
}
.forecast-temperatures{
    text-align: center;
    color: #ffa500;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.forecast-temperature {
    padding: 0 10px;
}
a{
    color: #006d2c;
}
footer{
    border-top: 1px solid #c7e9c0;
    padding: 30px 0 0 0;
    text-align:center;
    font-weight: 500;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6);
}
